
body {
  margin: 0px;
  background-color: black;
  font-family: Helvetica Neue, Helvetica;
  color: white; }
  body a {
    color: orange;
    text-decoration: none; }
    body a:hover {
      color:rgb(255, 204, 110);
    }
  body .content {
    background: url("profilepic.png") no-repeat 115% 20%;
    background-size: 800px;
    margin: 0 0 0 auto;
    /* padding-left: 50px; */
  }
    body .header {
      margin-left: 20px;
    }

    body .content h1 {
      font-weight: normal;
      padding: 25px 0 0 0;
      margin: 0px;
      font-size: 130px; 
    }
    body .content h2 {
      font-weight: lighter;
      margin-top: -10px;
      font-size: 40px;
      color: orange;
    }

    p{
      margin: 0px 0px 10px 0px;
    }
      .container {
        display: grid;
        grid-template-columns: 600px 60px 700px;
        grid-gap: 10px;
      }

      .date {
        text-align: center;
        font-size: 20px;
        color: orange;
      }
      .left {
        font-size: 17px;
        text-align: right;
        color: #b9b9b9;
      }
      .right {
        font-size: 17px;
      }
